alabaster==0.7.12
appdirs==1.4.4
argh==0.26.2
arrow==1.0.3
atomicwrites==1.4.0
attrs==20.3.0
autopep8==1.5.6
Babel==2.9.0
binaryornot==0.4.4
bleach==3.3.0
bumpversion==0.6.0
certifi==2020.12.5
chardet==4.0.0
Click==7.1.2
cookiecutter==1.7.2
coverage==5.5
docutils==0.16
filelock==3.0.12
flake8==3.9.0
future==0.18.2
idna==3.1
imagesize==1.2.0
Jinja2==2.11.3
jinja2-time==0.2.0
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==8.7.0
multidict==5.1.0
packaging==20.9
pathtools==0.1.2
pkginfo==1.7.0
pluggy==0.13.1
poyo==0.5.0
py==1.10.0
pycodestyle==2.7.0
pyflakes==2.3.1
Pygments==2.8.1
pyparsing==2.4.7
pytest==6.2.2
pytest-runner==5.3.0
pytest-vcr==1.0.2
python-dateutil==2.8.1
pyyaml>=4.2b1
pytz==2021.1
readme-renderer==29.0
requests==2.25.1
requests-toolbelt==0.9.1
six==1.15.0
snowballstemmer==2.1.0
Sphinx==3.5.3
sphinxcontrib-websupport==1.2.4
toml==0.10.0
tox==3.14.6
tqdm==4.44.1
twine==3.1.1
urllib3==1.25.8
vcrpy==4.0.2
virtualenv==20.0.15
watchdog==0.10.2
webencodings==0.5.1
whichcraft==0.6.1
wrapt==1.12.1
yarl>=1.2.0
