alabaster==0.7.12
appdirs==1.4.4
argh==0.26.2
arrow==0.15.6
atomicwrites==1.4.0
attrs==19.3.0
autopep8==1.5.3
Babel==2.8.0
binaryornot==0.4.4
bleach==3.1.5
bumpversion==0.6.0
certifi==2020.4.5.1
chardet==3.0.4
Click==7.1.2
cookiecutter==1.7.2
coverage==5.1
docutils==0.16
filelock==3.0.12
flake8==3.8.2
future==0.18.2
idna==2.9
imagesize==1.2.0
Jinja2==2.11.2
jinja2-time==0.2.0
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==8.3.0
multidict==4.7.6
packaging==20.4
pathtools==0.1.2
pkginfo==1.5.0.1
pluggy==0.13.1
poyo==0.5.0
py==1.8.1
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.6.1
pyparsing==2.4.6
pytest==5.4.1
pytest-runner==5.2
pytest-vcr==1.0.2
python-dateutil==2.8.1
pyyaml>=4.2b1
pytz==2019.3
readme-renderer==25.0
requests==2.23.0
requests-toolbelt==0.9.1
six==1.14.0
snowballstemmer==2.0.0
Sphinx==2.4.4
sphinxcontrib-websupport==1.2.1
toml==0.10.0
tox==3.14.6
tqdm==4.44.1
twine==3.1.1
urllib3==1.25.8
vcrpy==4.0.2
virtualenv==20.0.15
watchdog==0.10.2
webencodings==0.5.1
whichcraft==0.6.1
wrapt==1.12.1
yarl>=1.2.0
