interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.quran-tafseer.com//tafseer/1
  response:
    body:
      string: ''
    headers:
      Content-Language:
      - en
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - /tafseer/1/
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: http://api.quran-tafseer.com/tafseer/1/
  response:
    body:
      string: "{\"id\":1,\"name\":\"\u0627\u0644\u062A\u0641\u0633\u064A\u0631 \u0627\
        \u0644\u0645\u064A\u0633\u0631\",\"language\":\"ar\",\"author\":\"\u0646\u062E\
        \u0628\u0629 \u0645\u0646 \u0627\u0644\u0639\u0644\u0645\u0627\u0621\",\"\
        book_name\":\"\u0627\u0644\u062A\u0641\u0633\u064A\u0631 \u0627\u0644\u0645\
        \u064A\u0633\u0631\"}"
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Language:
      - en
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
